@import 'variables';

$header-height: 2.5rem;
.create-edit-player {
    width: 100%;
    margin-top: 4rem;
    
    &__header {
        letter-spacing: 0.00937em;
        line-height: 1.75rem;
        font-size: 1.15rem;
        font-weight: 600;
        height: $header-height;
        text-align: left;
        vertical-align: middle;
        margin-top: 1rem;
        margin-bottom: 0;
        margin-left: 4rem;
    }
    &__form {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .input-field {
        margin: 0 0 1rem 0; 
        display: grid;
        label {
            font-size: 1rem;
        }
        input,select,option {
            font-size: 1rem;
            margin-top: .5rem;
            height: 1.5rem;
        }
    }
}

.submit-button {
    background-color: $vivid;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: $snow;
    transition: background-color 0.15s;
    &:hover {
        border: 1px solid #FFFFFF;
        background-color: $moss;
    }
}
